/*
colors{
    #0B0B0D: black;
    #181619: dark grey;
    #181B22: grey;
    #272A31: light grey;
    #2f4858: dark blue;
    #A76B09: orange;
    #DDA74F: light orange;
    #DFE0DF: white-silver;
    #FFF8EA: cream;
    #FFF8EE: ivory;
    #FFFFFF: hard white;

    #EEB86F: light orange hover;
}
*/

body {
    background: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    color: #0B0B0D;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #2f4858;
}

.section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

button {
    border: 1.5px solid #272A31;
    border-radius: 4px;
    background: transparent;
}

#preheader {
    justify-content: end;
    align-items: center;
}

#login {
    background-color: #FFFFFF;
    color: #0b0b0d;
}

#login:hover {
    background-color: #DFE0DF;
    transition-duration: 0.4s;
}

#find_advisor {
    background-color: #272A31;
    color: #FFFFFF;
}

#find_advisor:hover {
    background-color: #DFE0DF;
    color: #0b0b0d;
    transition-duration: 0.4s;
}


#header_logo {
    width: 250px;
}

#break {
    background: #272A3166;
    height: .6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header_content {
    align-items: center;
    justify-content: space-between;
}

#phone_icon {
    width: 16px;
    height: 16px;
}

#phone_number {
    font-size: 12px;
}

#checkmark {
    width: 55px;
    height: 55px;
}


/*  Modern desktop computers and laptops */
@media only screen and (min-width: 1280px) {


    button {
        height: 40px;
        font-size: 14px;
        padding: 10px 10px 14px 10px;
    }

    .content {
        display: flex;
        justify-content: start;
        width: 1280px;
    }

    #ticker_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
        height: 30px;
        background-color: #272A31;
        color: #FFFFFF;
        padding-left: 12px;
        border-radius: 15px;
    }

    .quote_div>p {
        font-size: 12px;
        font-weight: 300;
        margin-right: 10px;
    }

    #phone_div {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    #header_logo {
        width: 250px;
    }

    #break {
        background: #272A3166;
        height: .6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #header_content {
        align-items: center;
        justify-content: space-between;
    }

    #phone_icon {
        width: 16px;
        height: 16px;
    }

    #phone_number {
        font-size: 12px;
        margin-bottom: 7px;
        margin-right: 5px;
    }

    #hero_section {
        margin-top: 70px;
        height: 500px;
    }

    #hero_carousel {
        display: flex;
        justify-content: space-between;
        background: transparent;
        z-index: 2;
    }

    #hero_content {
        z-index: -2;
        position: absolute;
        height: 500px;
        width: 1280px;
    }

    .arrow_div {
        display: flex;
        height: 500px;
        width: 100px;
        align-items: center;
        justify-content: center;
    }

    .arrow_img {
        visibility: hidden;
        width: 30px;
        height: 30px;
    }

    #hero_carousel:hover>.arrow_div>.arrow_img {
        visibility: visible;
    }

    #hero_carousel:hover>.arrow_div {
        background: #00000024;
        transition-duration: 0.4s;
    }

    #hero_carousel:hover>.arrow_div:hover {
        background: #00000016;
        transition-duration: 0.4s;
    }

    .arrow_div:hover>.arrow_img {
        width: 31px;
        height: 31px;
        transition-duration: 0.4s;
    }

    #questionnaire {
        background: #DFE0DF;
        height: 120px;
    }

    #checkmark_div {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 20px;
        margin-right: 20px;
    }

    #questionnaire_p {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        font-weight: 600;
        margin-top: -40px;
    }

    #questionnaire_h2 {
        font-weight: 400;
        margin-top: 0px;
    }

    #questionnaire_copy {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }
}

/*  Smaller modern laptops, and high gen previous laptops */
@media only screen and (min-width: 992px) {

    button {
        height: 40px;
        font-size: 14px;
        padding: 10px 10px 14px 10px;
    }

    .content {
        display: flex;
        justify-content: start;
        width: 1280px;
    }

    #header_logo {
        width: 250px;
    }

    #break {
        background: #272A3166;
        height: .6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #header_content {
        align-items: center;
        justify-content: space-between;
    }

    #phone_icon {
        width: 16px;
        height: 16px;
    }

    #phone_number {
        font-size: 12px;
        margin-bottom: 7px;
        margin-right: 5px;
    }
}

/*  Legacy computers and tablets */
@media only screen and (min-width: 768px) {}

/*  Small devices, tablets in portrait mode */
@media (min-width: 600px) {}

/*  Phones */
@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #preheader {
        display: none;
    }


    #header_logo {
        width: 40vw;
    }

    #header_content {
        flex-direction: column;
    }
}
