/*
colors{
    #0B0B0D: black;
    #181619: dark grey;
    #181B22: grey;
    #272A31: light grey;
    #2f4858: dark blue;
    #A76B09: orange;
    #DDA74F: light orange;
    #DFE0DF: white-silver;
    #FFF8EA: cream;
    #FFF8EE: ivory;
    #FFFFFF: hard white;

    #EEB86F: light orange hover;
}
*/

body {
    background: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    color: #0B0B0D;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #2f4858;
}

div {
    border: none;
    padding: none;
    margin: none;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    border: 1.5px solid #272A31;
    border-radius: 8px;
    background: transparent;
}

#preheader {
    justify-content: end;
    align-items: center;
}

#login {
    background-color: #FFFFFF;
    color: #0b0b0d;
}

#login:hover {
    background-color: #DFE0DF;
    transition-duration: 0.4s;
}

#find_advisor {
    background-color: #272A31;
    color: #FFFFFF;
}

#find_advisor:hover {
    background-color: #DFE0DF;
    color: #0b0b0d;
    transition-duration: 0.4s;
}


#header_logo {
    width: 250px;
}

#break {
    background: #272A3166;
    height: .6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header_content {
    align-items: baseline;
    justify-content: space-between;
}

#phone_icon {
    width: 16px;
    height: 16px;
}

#phone_number {
    font-size: 12px;
}

#checkmark {
    width: 55px;
    height: 55px;
}

/*.answer_measuring_wrapper {
    display: block;
    position: absolute;
    height: auto;
    max-height: 'none';
}
*/

.section_questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question_div:hover {
    background: #DFE0DF80;
    transition-duration: 0.2s;
}

.question_wrapper {
    width: 832px;
}

.question_wrapper_off {
    border-bottom: 1px solid #DFE0DF80;
}

.question_wrapper_on {
    border-bottom: 1px solid #DDA74F;
}

.content_answer {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    overflow: hidden;
}

.content_answer_hidden {
    overflow: hidden;
}

#question_header_content {
    display: flex;
    flex-direction: column;
}

#question_header_h2 {
    font-weight: 400;
    font-size: 28px;
    margin: none;
}

#question_header_h3 {
    font-weight: 400;
    margin: none;
}

.question_div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.question_box_showing {
    width: 30px;
    height: 30px;
    margin: 20px;
}

.question_box_hidden {
    width: 0px;
    height: 0px;
    margin: 0px;
    visibility: hidden;
}

.answer_p {
    margin-left: 70px;
    font-weight: 400;
}

.question_h3 {
    font-weight: 500;
    margin: none;
}


/*  Modern desktop computers and laptops */
@media only screen and (min-width: 1280px) {

    #header_left {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    #header_nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 749px;
    }


    .navlink {
        font-weight: 500;
        font-size: 12px;
        color: #0b0b0d;
    }

    button {
        height: 40px;
        font-size: 14px;
        padding: 10px 10px 14px 10px;
    }

    .content {
        display: flex;
        justify-content: start;
        width: 1280px;
    }

    #ticker_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
        height: 30px;
        background-color: #272A31;
        color: #FFFFFF;
        padding-left: 12px;
        border-radius: 15px;
    }

    .quote_div>p {
        font-size: 12px;
        font-weight: 300;
        margin-right: 10px;
    }

    #phone_div {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    #header_logo {
        width: 250px;
    }

    #break {
        background: #272A3166;
        height: .6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #header_content {
        align-items: center;
        justify-content: space-between;
    }

    #phone_icon {
        width: 16px;
        height: 16px;
    }

    #phone_number {
        font-size: 12px;
        margin-bottom: 7px;
        margin-right: 5px;
    }

    #hero_section {
        margin-top: 70px;
        height: 500px;
        display: flex;
        align-items: flex-end;
    }

    #hero_carousel {
        width: 150px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #00000021;
        z-index: 2;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    #hero_content {
        z-index: -2;
        position: absolute;
        height: 500px;
        width: 1280px;
        overflow: hidden;
    }

    .arrow_div {
        display: flex;
        height: 25px;
        width: 25px;
        align-items: center;
        justify-content: center;
        background: transparent;
    }

    .arrow_img {
        /*visibility: hidden;*/
        width: 20px;
        height: 20px;
    }

    .bubble {
        width: 7px;
        height: 7px;
        border: transparent 10px;
        border-radius: 10px;
        background-color: #FFFFFF;
        transition-duration: .2s;
    }

    .bubble_selected {
        width: 8px;
        height: 8px;
        border: solid 1px #272A3189;
        border-radius: 10px;
        background-color: #FFFFFF;
        transition-duration: .2s;
    }

    #carousel_placekeeper_div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }

    /* #hero_carousel:hover>.arrow_div>.arrow_img {
        visibility: visible;
    }

    #hero_carousel:hover>.arrow_div {
        background: #00000024;
        transition-duration: 0.4s;
    }

        #hero_carousel:hover>.arrow_div:hover {
        background: #00000016;
        transition-duration: 0.4s;
    }
*/

    .arrow_div:hover>.arrow_img {
        width: 21px;
        height: 21px;
        transition-duration: 0.4s;
    }

    #questionnaire {
        background: #DFE0DF;
        height: 120px;
        box-shadow: 0px 4px 10px 0px #00000050;
    }

    #checkmark_div {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 20px;
        margin-right: 20px;
    }

    #questionnaire_p {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        font-weight: 600;
        margin-top: -40px;
    }

    #questionnaire_h2 {
        font-weight: 400;
        margin-top: 0px;
    }

    #questionnaire_copy {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }

    .carousel_module {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1280px;
        height: 500px;
        animation-duration: .5s;
        animation-name: fade-in;
    }

    .carousel_exit {
        animation-duration: .5s;
        animation-name: fade-out;
    }

    #ethos_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1280px;
        height: 500px;
        margin-top: 40px;
    }

    .ethos_card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 350px;
        height: 350px;
        /*background: #DFE0DF;*/
        margin: 20px;
    }

    .ethos_divider {
        background: #DFE0DF80;
        height: 300px;
        width: 1px;
    }

    .ethos_img {
        width: 75px;
        height: 75px;
    }

    #factoid_content {
        background-color: #DFE0DF;
        width: 1280px;
        height: 100px;
        margin-bottom: 50px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 0px #00000050;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #factoid_h2 {
        font-weight: 400;
        font-style: italic;
        margin: none;
    }

    #factoid_p {
        font-weight: 600;
        margin: none;
    }

    #worktogether_content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1280px;
        height: 500px;
    }

    .worktogether_card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 242px;
        height: 417px;
        border: 1px solid #2f485860;
        border-radius: 10px;
        padding: 24px;
    }

    .worktogether_photo {
        width: 240;
        height: 145;
    }

    .worktogether_button {
        width: 240px;
        height: 66px;
        font-weight: 700;
        font-size: 15px;
        background: #2f4858;
        color: #FFFFFF;
        border: none;
        border-radius: 8px;
        padding: 14px;
        box-shadow: 0px 1px 3px 0px #00000050;
        text-align: left;
        position: relative;
    }

    .worktogether_button:hover {
        background: #2f4858dd;
        transition-duration: 0.1s;
    }

    #cta_banner {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #DFE0DF;
        margin-top: 50px;
        box-shadow: 0px 4px 8px 0px #00000050;
    }

    #cta_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1280px;
        height: 500px;
    }

    #cta_button {
        width: 180px;
        height: 50px;
        font-weight: 700;
        font-size: 24px;
        background: #a76b09;
        color: #FFFFFF;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 2px 5px 0px #00000050;
        text-align: center;
        margin: 20px;
        transition-duration: 0.1s;
    }

    #cta_h2 {
        font-weight: 400;
        margin: none;
    }

    #cta_button:hover {
        background: #dda74f;
        transition-duration: 0.1s;
    }

    .alternating_section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1280px;
        height: 460px;
    }

    .alternating_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1024px;
        height: 412px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .alternating_side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        width: 475px;
        height: 315px;
    }

    .alternating_photo {
        border-radius: 10px;
        background: #2f4858;
    }

    .alternating_h3 {
        font-weight: 600;
        margin: none;
        padding: none;
        font-size: 12px;
    }

    .alternating_h4 {
        font-weight: 300;
        padding: none;
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .alternating_p {
        font-weight: 400;
        margin: none;
        padding: none;
    }

    .alternating_button {
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 15px;
        background: #2f4858;
        color: #FFFFFF;
        border: none;
        border-radius: 8px;
        padding: 14px;
        box-shadow: 0px 1px 3px 0px #00000050;
        text-align: center;
    }

    .alternating_button:hover {
        background: #2f4858dd;
        transition-duration: 0.2s;
    }

    #brokercheck_section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #brokercheck_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1280px;
    }

    .brokercheck_content_innercontainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 800px;
        height: 250px;
        border: solid 2px #2f485860;
    }

    .brokercheck_content_subcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 250px;
    }

    #brokercheck_content_subcontainer_img {
        width: auto;
        height: auto;
        max-width: 300px;
    }

    #brokercheck_content_subcontainer_text {
        padding: 30px;
    }

    .brokercheck_h2 {
        font-weight: 400;
        font-size: 20px;
        margin: none;
    }



    #apprefer_section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        background: #DFE0DF;
    }


    #apprefer_content {
        display: flex;
        justify-content: center;
        align-items: end;
        width: 1280px;
        height: 600px;
    }

    #apprefer_content_text {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        height: 600px;
    }

    #apprefer_h2 {
        font-weight: 400;
        margin: none;
    }

    #apprefer_h3 {
        font-weight: 600;
        margin: none;
    }

    #handphone_img {
        width: 500px;
    }

    #dropdown_menu {
        position: absolute;
        z-index: 5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1280px;
        height: 500px;
        border: solid 1px #DFE0DF80;
        background: #FFFFFF;
    }

    .dropdown_menu_hidden {
        height: 0px;
        visibility: hidden;
        overflow: hidden;
    }

    #root_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1000px;
        height: 500px;
    }

    /*
    #expanded_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 830px;
        height: 500px;
    }
*/

    #graphic_menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 280px;
        height: 500px;
    }

    .graphic_menu_icon {
        width: 240px;
        height: 100px;
        border-radius: 10px;
    }

    .graphic_menu_item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 240px;
        height: 140px;
        /*border: solid 1px #2f485860;*/
        color: #0b0b0d;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }

    /*.graphic_menu_item:hover {
        background: #DFE0DF;
        transition-duration: 0.2s;
    }*/

    .graphic_menu_text {
        font-weight: 600;
        font-size: 14px;
        margin: 10px;
    }


    #footer_section {
        background: #2f4858;
        height: 500px;
        margin-top: 50px;
    }

    @keyframes slide-in {
        from {
            margin-left: 100%;
            width: 100%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }

    @keyframes slide-out {
        from {
            margin-left: 0%;
            width: 100%;
        }

        to {
            margin-left: -100%;
            width: 100%;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

/*  Smaller modern laptops, and high gen previous laptops */
@media only screen and (min-width: 992px) {

    button {
        height: 40px;
        font-size: 14px;
        padding: 10px 10px 14px 10px;
    }

    .content {
        display: flex;
        justify-content: start;
        width: 1280px;
    }

    #header_logo {
        width: 250px;
    }

    #break {
        background: #272A3166;
        height: .6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #header_content {
        align-items: center;
        justify-content: space-between;
    }

    #phone_icon {
        width: 16px;
        height: 16px;
    }

    #phone_number {
        font-size: 12px;
        margin-bottom: 7px;
        margin-right: 5px;
    }
}

/*  Legacy computers and tablets */
@media only screen and (min-width: 768px) {}

/*  Small devices, tablets in portrait mode */
@media (min-width: 600px) {}

/*  Phones */
@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #preheader {
        display: none;
    }


    #header_logo {
        width: 40vw;
    }

    #header_content {
        flex-direction: column;
    }
}
